#about{
    background-color: #d6ebfd;
    width: 100%;
    flex-wrap: "wrap";
    padding: 4rem 0rem;
    min-height: 70vh;
    
    >h2{
        font: 700 2.5rem $text2;
        width: fit-content;
        border-bottom: 4px solid $color6_1;
        // padding: 0.5rem;
        margin: auto;
    }
   

    >section{
        font: 500 1rem $text3;
        margin-top: 2.3rem !important;
        width: 80%;
        margin: auto;
        line-height: 170%;
        word-spacing: 2px;
    }
    //     >a{
    //         width: 70%;
    //         height: 25vmax;
    //     }

    //     >article{
    //         width: 70%;
    //         height: 25vmax;
    //     }

    //     .workItem{
    //         overflow-y: auto;
    //         height: 25vmax;
    //         width: 95%;
    //         margin: auto;
    //         background-color: $color4;
    //         display: flex;
    //         padding: 2rem;
    //         box-shadow: 0 0;

    //         >img{
    //             border-radius: 20px;
    //             width: 40%;
    //             object-fit: cover;
    //         }

    //         >aside{
    //             width: 60%;
    //             display: flex;
    //             flex-direction: column;
    //             justify-content: center;
    //             align-items: center;

    //             >p{
    //                 letter-spacing: 3px;                    
    //                 line-height: 180%;
    //                 margin: 2rem;
    //             }

    //             >a{
    //                 background-color: $color3;
    //                 padding: 0.7rem 2rem;
    //                 margin: 2rem;
    //                 color: $color4;
    //                 transition: all 0.4s ;
    //                 &:hover{
    //                     background-color: $color3_1;
    //                 }
    //             }
    //         }
    //     }
    // }
}